.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f5f6fa;
}

.layout-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  background-color: #f2f3f8;
}

.home-layout {
  display: flex;
  height: 100vh;
  background-color: #f5f6fa;
  font-family: 'Inter', sans-serif;
  color: #222;
}
.home-content {
  flex: 1;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.home-content::-webkit-scrollbar {
  width: 8px;
}

.home-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.home-content::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}